<% if @stock %>
  <div class="card card-header mt-2", style="display: inline-block;">
    <% unless @stock.try(:full_message) %>
      <strong>Symbol: </strong> <%= @stock.ticker.upcase %>
      <strong>Name: </strong> <%= @stock.name.capitalize %>
      <strong>Price: </strong> <%= number_to_currency(@stock.last_price) %>
    <% else %>
      <%= @stock.full_message %>
    <% end %>
  </div>
<% end %>