<%#= turbo_frame_tag 'turbo_stock' do %>
  <h1>Welcome to Finance-Tracker-2</h1>
  <%= link_to "My Portfolio", my_portfolio_path %>
<%# end %>
<br /><br />
<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<p><b>deploy in fly.io</b></p>
