<% if @stock %>
  <% unless @stock.try(:full_message) %>
    <div class="card card-header mt-2", style="display: inline-block;">
      <strong>Symbol: </strong> <%= @stock.ticker.upcase %>
      <strong>Name: </strong> <%= @stock.name.capitalize %>
      <strong>Price: </strong> <%= number_to_currency(@stock.last_price) %>
      <%= render partial: 'user_stocks/add_stock', locals: { stock: @stock } %>
    </div>
  <% end %>
<% end %>